In [ ]:
#NETID : rgundavarapu,simran4

In [124]:
#PART1

In [11]:
import pandas as pd
import torch
import numpy as np

In [12]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
train_df

,POS_0_9_CP,POS_10_19_CP,POS_20_29_CP,POS_30_39_CP,POS_40_49_CP,POS_50_59_CP,POS_60_69_CP,POS_70_79_CP,POS_80_89_CP,POS_90_CP,DTH_CUM_CP
0,24,51,44,51,60,75,72,61,27,0,3
1,22,31,214,177,62,46,24,9,0,0,2
2,84,126,239,194,159,171,125,74,24,8,9
3,65,76,80,110,82,81,55,49,56,34,7
4,99,107,339,287,139,147,110,71,37,0,12
...,...,...,...,...,...,...,...,...,...,...,...
1039,86,201,206,202,240,317,225,138,48,0,7
1040,80,102,125,124,104,71,70,36,6,0,6
1041,268,358,277,415,355,332,215,107,47,7,5
1042,81,116,90,145,118,113,70,36,9,0,2
1043,118,156,197,215,114,114,83,19,0,0,5

In [15]:
if torch.cuda.is_available():
    cuda0 = torch.device('cuda:0')
    trainX = torch.from_numpy(train_df.values[:,:-1]).to(torch.float64)
    trainY = torch.from_numpy(train_df.values[:,-1:]).to(torch.float64)

    testX = torch.from_numpy(test_df.values[:,:-1]).to(torch.float64)
    testY = torch.from_numpy(test_df.values[:,-1:]).to(torch.float64)
    
    trainX=trainX.to('cuda:0')
    trainY=trainY.to('cuda:0')
    testX=testX.to('cuda:0')
    testY=testY.to('cuda:0')
    coef = torch.tensor([
        [0.0040],
        [0.0040],
        [0.0040],
        [0.0040],
        [0.0040],
        [0.0040], # POS_50_59_CP
        [0.0300], # POS_60_69_CP
        [0.0300],
        [0.0300],
        [0.0300]], dtype=testX.dtype)
    coef=coef.to('cuda:0')
    (testX[:1,:]@coef).item()
else:
    trainX = torch.from_numpy(train_df.values[:,:-1]).to(torch.float64)
    trainY = torch.from_numpy(train_df.values[:,-1:]).to(torch.float64)

    testX = torch.from_numpy(test_df.values[:,:-1]).to(torch.float64)
    testY = torch.from_numpy(test_df.values[:,-1:]).to(torch.float64)
    coef = torch.tensor([
        [0.0040],
        [0.0040],
        [0.0040],
        [0.0040],
        [0.0040],
        [0.0040], # POS_50_59_CP
        [0.0300], # POS_60_69_CP
        [0.0300],
        [0.0300],
        [0.0300]], dtype=testX.dtype)
    num_deaths=(testX[:1,:]@coef).item()

In [16]:
num_deaths

9.844

In [132]:
#Part2

In [144]:
predictedY = (testX[:,:]@coef)

In [145]:
def r2_score(trueY, predictedY):
    SStot = torch.sum((testY-torch.mean(testY))**2)
    SSreg = torch.sum((testY-predictedY)**2)
    improvement = SStot - SSreg
    R2_score = improvement/SStot
    return R2_score

In [146]:
print(r2_score(testY, predictedY))

tensor(0.4110, dtype=torch.float64)

In [136]:
#Part3

In [147]:
x = torch.tensor(0.0)
y = x**2 - 8*x + 19
y

tensor(19.)